<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Editar un tutor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12 ">
                    <h1 align="center" >Gestión FCT</h1> 
                    <hr size="2px" color="black" />
                </div>

                <div class= "col-xl-2 ">          
                    <br>
                    <br>
                    <ul class="nav nav-tabs">
                        <li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ALUMNO</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/listar_alumnos"  role="button">Listar alumnos</a>
                                <a class="dropdown-item" href="/crear_alumno"  role="button">Nuevo alumno</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TUTOR</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/listar_tutores"  role="button">Listar tutores</a>
                                <a class="dropdown-item" href="/crear_tutor"  role="button">Nuevo tutor</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EMPRESA</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/listar_empresas"  role="button">Listar empresas</a>
                                <a class="dropdown-item" href="/crear_empresa"  role="button">Nueva empresa</a>
                            </div>
                        </li>
                    </ul>
                </div>


                <div class="col-xl-10 ">
                    <h1 align="center">Editar un tutor</h1>
                    <form th:action="@{/guardar_tutor}" method="post" th:object="${tutor}">
                        <div class="form-group">
                            <label for="InputId">Id</label>
                            <input type="number" class="form-control" id="InputId" th:field="*{idTutor}" readonly="true">

                            <label for="InputNombre">Nombre</label>
                            <input type="text" class="form-control" id="InputNombre" th:field="*{nombre}">
                        </div>

                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
        <!--Necesario para dropdown-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    
    </body>
</html>
